<nb-card>
  <nb-card-header>
    Shifts
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
<br>
<ul class="list-group">
  <a
      class="list-group-item"
      style="cursor: pointer"
      *ngFor="let shift of (shiftState | async).shifts; let i = index"
      (click)="onEditItem(i)"
    >
    
    {{ shift.name }} {{shift.start}}
  </a>
</ul>
