
    <div class="row text-center">
      <div class="col-md-4">
          <div class="btn-group">
              <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                  Previous
              </div>
              <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                  Today
              </div>
              <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                  Next
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
  </div>
  <br>
  
  <div class="col-md-4">
    <hot-table class="col-md-4" 
    
      [manualRowMove]="true"
      [settings]="settings"
    >
    </hot-table>
  </div>
  <br>
  <button class="btn btn-primary" (click)="onAdd()" style="float: right;">Save</button><br>
  <br>
  <br>
    <ul class="list-group">
    <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let schedule of (dhhdashboardState | async).schedules; let i = index"
        (click)="onEditItem(i)"
      >
      
      {{ schedule.name }} ({{ schedule.amount }})
    </a>
  </ul>

