
    <div class="row text-center">
      <div class="col-md-4">
          <div class="btn-group">
              <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" 
                    (viewDateChange)="activeDayIsOpen = false" (click)="monthClicked()" (click)="ngOnInit()" >
                  Previous
              </div>
              <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (click)="monthClicked()" 
                    (click)="ngOnInit()" >
                  Today
              </div>
              <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" 
                    (viewDateChange)="activeDayIsOpen = false" (click)="monthClicked()" (click)="ngOnInit()">
                  Next
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="onAdd()" style="float: right;">Save</button><br>
      </div>
  </div>
  <br>

  <div class="content" *ngIf="dateMatch">
    <hot-table 
      [manualRowMove]="true"
      [settings]="settings"
      [columns]="columns"
      [data]="data"
    >
    </hot-table>
  </div>
 
  <br>
    <ul class="list-group">
    <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let schedule of (dhhdashboardState | async).schedules; let i = index"
        (click)="onEditItem(i)"
      >
      
      {{ schedule.month }} {{schedule.days[0].dayOfWeek}}
    </a>
  </ul>

